{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="George W. Park">
    <meta name="description" content="This project demonstrates how CSS grid (with flexbox and float fallback) can be used to re-create the layout of an Instagram profile page.">

    <!-- Title -->
    <title>The Awwards User Profile</title>

</head>
<body>

    <header>
        <br><br><br>
        <div class="container">
                   
            <div class="row">

                <div class="col-md-4 profile-image">
                    <hr>

                    <img src="{{user.profile.profile_pic.url}}" alt="" style="width: 300px; height: 200px;">

                </div>

                <div class="profile-user-settings col-md-4">
                
                    <hr>
                    <div class="profile-user-settings">
                        
                        <a style="text-decoration: none;" href="{% url 'editprofile' %}" class="btn profile-edit-btn">Edit Profile</a>
                        
                        <a style="text-decoration: none;" href="{% url 'sign-out' %}" class="btn profile-edit-btn">Sign out</a>
                        <br>
                    </div>

                    <hr>

                    <div class="bio">
                        <h6 class="profile-user-name">{{user.profile.fullname}}</h6> <br>
                                            
                        <p><span class="profile-real-name"></span>◉Bio: {{user.profile.bio}}</p>
                                            
                        <p><span class="profile-real-name"></span>◉Location:  {{user.profile.location}}</p>
                    </div>                    
                    <br><br>

                    
                                                                   
                </div>

            </div>

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">{{projects_count}}</span> projects</li>

                    </ul>
                    <br>
                    
                </div>

        </div>

    </header>

    {% endblock content %}