{% load static %}

<title>Sign-up</title>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4">

        <div class="form-data">
          <form action="" method="POST">
          {% csrf_token %}

              {{ form.as_p }}
              <br>
          
              <button type="submit" class="btn btn-dark" type="submit">Sign Up</button> 

          </form>
        </div> 

      
        <div class="sign-up">
          Already a member? <a href="{% url 'sign-in' %}">Sign In</a>
        </div>
    
    </div>
  
    
    <div class="col-md-7 mx-0 px-0 log-img-box">
      <div class="log-img-overlay"></div>
        <div class="w-100 d-flex justify-content-center">
          <img class="login-img w-100" src="{% static 'images/background.jpg' %}" alt="">
        </div>
    </div>
    

  </div>
</div>    


