{% load static %}
<title>Sign-in</title>

<div class="container">

    <div class="full">
        <form action="{% url 'sign-in'%}" method="POST">
        {%csrf_token%}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    
        </form>
    </div>  
    
    <div class="sign-up">
       Not yet a member? <a href="{% url 'sign-up' %}">Sign up</a>
    </div>

    <div class="col-md-7 mx-0 px-0 log-img-box">
        <div class="log-img-overlay"></div>
        <div class="w-100 d-flex justify-content-center">
            <img class="login-img w-100" src="{% static 'images/background.jpg' %}" alt="">
        </div>
    </div>
</div>